# Ambiente Virtual (Crucial ignorar)
.venv/
env/
venv/
ENV/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ignora tudo dentro da pasta data
data/**

# Mas não ignore as pastas em si (permite que o Git entre nelas)
!**/

# Não ignore nenhum arquivo .gitkeep, não importa onde ele esteja
!**/.gitkeep

# Arquivos específicos de dados e logs
*.csv
*.xlsx
*.xls
*.txt
*.log

# Configurações do VS Code
.vscode/